.photos-container {
  display: flex;
  padding: 50px;
  height: auto;
  width: 600px;
}
.images-container {
  margin-right: 25px;
  width: 63.5px;
  height: 63.5px;
  border-radius: 50%;
  background: linear-gradient(to right, red, orange);
  padding: 1.5px;
}
.images-container .image.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  cursor: pointer;
}
.images-container  p {
    /* color: #6B6B6B; */
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
}



.posts-container{
  width: 510px;
  margin-top: 30px;
  display: flex;
  margin-left: 50px;
  height: auto;
  overflow-x: hidden;
}