@import './login.css';
@import './navbar.css';
@import './Suggestions.css';
@import './Stories.css';
@import './createPost.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.profile-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    margin-left: 150px;
    height: auto;
}
.fyp-container{
    display: flex;
    justify-content: space-between;
}